/dataset
/dataset.zip
/offsets.npy
/segm.npy
/joints3d.npy
/depth.npy
/pose_classifier.pkl
/joint_offsets.npy
/depth_offsets.npy
/surreal
/pose-dataset
/joints2d.npy
depth_offset.npy
joints2d.npy
/_OLD
demo_video.mp4
trained_regressors/
numpy_files/
/libfreenect2